apiVersion: v1
kind: ConfigMap
metadata:
  name: smf-config
  namespace: open5gs
data:
  smf.yaml: |
    logger:
      level: info

    global:
      max:
        ue: 1024

    smf:
      sbi:
        server:
          - address: 0.0.0.0
            port: 7777
            advertise: smf.open5gs.svc.cluster.local
        client:
          nrf:
            - uri: http://nrf:7777
      pfcp:
        server:
          - address: 0.0.0.0
            advertise: smf.open5gs.svc.cluster.local
        client:
          upf:
            - address: upf
      gtpc:
        server:
          - address: 0.0.0.0
      gtpu:
        server:
          - address: 0.0.0.0
            advertise: smf.open5gs.svc.cluster.local
      session:
        - subnet: 10.45.0.0/16
          gateway: 10.45.0.1
      dns:
        - 8.8.8.8
        - 8.8.4.4
      mtu: 1400
