apiVersion: v1
kind: Service
metadata:
  name: nrf
  namespace: open5gs
spec:
  selector:
    app: nrf
  ports:
    - protocol: TCP
      port: 7777
      targetPort: 7777
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nrf
  namespace: open5gs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nrf
  template:
    metadata:
      labels:
        app: nrf
    spec:
      containers:
      - name: nrf
        image: local/open5gs:latest
        imagePullPolicy: Never
        command: ["/bin/open5gs-nrfd"]
        args: ["-c", "/opt/open5gs/etc/open5gs/nrf.yaml"]
        ports:
        - containerPort: 7777
        volumeMounts:
        - name: nrf-config
          mountPath: /opt/open5gs/etc/open5gs
      volumes:
      - name: nrf-config
        configMap:
          name: nrf-config
