apiVersion: v1
kind: Service
metadata:
  name: webui
  namespace: open5gs
spec:
  selector:
    app: webui
  ports:
    - protocol: TCP
      port: 9999
      targetPort: 9999
      nodePort: 30999
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webui
  namespace: open5gs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webui
  template:
    metadata:
      labels:
        app: webui
    spec:
      containers:
      - name: webui
        image: local/open5gs-webui:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 9999
        env:
        - name: DB_URI
          value: "mongodb://mongodb:27017/open5gs"
